.laravel-todobar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  z-index: 100;

  .laravel-todobar-container {
    display: none;
    height: 100vh;
    flex-direction: column;
  }



  .laravel-todobar-content {
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56.8px);

    h3 {
      background: #eee;
      padding: 15px;
      border-top: 1px solid #dde;
      border-bottom: 1px solid #dde;
      margin: 0;
      flex: 0;
    }



    .laravel-todobar-loader {
      background: rgba(255, 255, 255, 0.7) no-repeat 50% 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
}

html.todobar-active {
  .laravel-todobar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    padding: 0px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);

    .laravel-todobar-container {
      display: flex;
    }

    @media screen and (max-width: 1440px) {
      width: 30vw;
    }

    @media screen and (max-width: 1200px) {
      width: 40vw;
    }

    @media screen and (max-width: 992px) {
      width: 40vw;
    }

    @media screen and (max-width: 767px) {
      width: 60vw;
    }

    @media screen and (max-width: 576px) {
      width: 87vw;
    }

    body.laravel-todobar-split {
      width: 80%;
    }
  }
}
